services:
  backend:
    build: .
    ports:
      - "9005:9005"
    volumes:
      - .:/user-management/backend
    restart: always

  db:
    image: mysql:8.0
    restart: always
    ports:
      - "3309:3306"
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_management

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - "8086:80"

networks:
  default:
    driver: bridge